name: Release Package

on:
  release:
    types: [published]

jobs:
  zip:
    name: ZIP Package
    runs-on: ubuntu-latest

    steps:
    - name: '[setup] Check out repository'
      uses: actions/checkout@v5

    - name: '[setup] Setup Node.js'
      uses: actions/setup-node@v6
      with:
        node-version: 22

    - name: '[install] Install dependencies'
      run: npm install

    - name: '[build] Build package'
      run: npm run build

    - name: '[publish] Prepare ZIP'
      run: |
        zip -j madmp-importer-${{ github.event.release.tag_name }}.zip dist/*
    
    - name: '[publish] Upload release assets'
      uses: shogo82148/actions-upload-release-asset@v1
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: madmp-importer-${{ github.event.release.tag_name }}.zip
